# Archivos de configuración de Go
*.exe       # Ejecutables de Windows
*.out       # Archivos de salida de Go
*.test      # Archivos de prueba generados
*.so        # Archivos compartidos
*.a         # Archivos de objeto

# Carpeta del módulo y dependencias
vendor/     # Ignorar dependencias vendidas
go.sum      # Archivos de suma de verificación (opcional si no utilizas el módulo de Go)
go.mod      # Ignorar si prefieres manejar las dependencias de otra manera

# Carpeta de caché de Go
.cache/      # Carpeta de caché de Go

# Archivos generados por el compilador
build/      # Carpeta de construcción
bin/        # Carpeta para archivos binarios

# Archivos de configuración de IDE
.idea/      # Carpeta de configuración de JetBrains
.vscode/    # Carpeta de configuración de Visual Studio Code
*.swp       # Archivos swap de Vim
*.swo       # Archivos swap de Vim

# Archivos de registro
*.log       # Archivos de log

# Archivos de caché
*.tmp       # Archivos temporales
*.bak       # Archivos de copia de seguridad
